<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.crm.dao.HouseProductMapper" >

  <resultMap id="BaseResultMap" type="com.sc.crm.bean.HouseProduct" >
    <id column="house_product_id" property="houseProductId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="product_num" property="productNum" jdbcType="INTEGER" />
    <result column="house_product_state" property="houseProductState" jdbcType="INTEGER" />
    <association property="product" column="product_id"  javaType="com.sc.crm.bean.Product">
    	<id column="product_id" property="productId"/>
    	<result column="product_number" property="productNumber"/>
    	<result column="product_name" property="productName"/>
    	<result column="product_price" property="productPrice"/>
    	<result column="product_state" property="productState"/>
    	<result column="product_intro" property="productIntro"/>
    	<result column="house_id" property="houseId"/>
    </association>
  </resultMap>

  <sql id="Base_Column_List" >
    house_product_id, product_id, house_id, product_num, house_product_state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from house_product
    where house_product_id = #{houseProductId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from house_product
    where house_product_id = #{houseProductId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sc.crm.bean.HouseProduct" >
    insert into house_product (house_product_id, product_id, house_id, 
      product_num, house_product_state)
    values (#{houseProductId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, 
      #{productNum,jdbcType=INTEGER}, #{houseProductState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.crm.bean.HouseProduct" >
    insert into house_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseProductId != null" >
        house_product_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="productNum != null" >
        product_num,
      </if>
      <if test="houseProductState != null" >
        house_product_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseProductId != null" >
        #{houseProductId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="productNum != null" >
        #{productNum,jdbcType=INTEGER},
      </if>
      <if test="houseProductState != null" >
        #{houseProductState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.crm.bean.HouseProduct" >
    update house_product
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="productNum != null" >
        product_num = #{productNum,jdbcType=INTEGER},
      </if>
      <if test="houseProductState != null" >
        house_product_state = #{houseProductState,jdbcType=INTEGER},
      </if>
    </set>
    where house_product_id = #{houseProductId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.crm.bean.HouseProduct" >
    update house_product
    set product_id = #{productId,jdbcType=INTEGER},
      house_id = #{houseId,jdbcType=INTEGER},
      product_num = #{productNum,jdbcType=INTEGER},
      house_product_state = #{houseProductState,jdbcType=VARCHAR}
    where house_product_id = #{houseProductId,jdbcType=INTEGER}
  </update>
  <select id="getHouseProductList" resultMap="BaseResultMap">
  	SELECT * FROM house_product hp INNER JOIN product p ON hp.product_id = p.product_id
  </select>
 
  <select id="updateHouseProductList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  	SELECT *
    FROM house_product hy JOIN product p ON hy.product_id=p.product_id 
    where house_product_id = #{houseProductId,jdbcType=INTEGER}
  </select>
  
  <select id="selHouseProductList" resultMap="BaseResultMap">
  SELECT *
  FROM house_product hy JOIN product p ON hy.product_id=p.product_id 
  <where>
  	  <if test="houseproduct.houseProductId != null" >
        house_product_id = #{houseproduct.houseProductId}
      </if>
   	  <if test="houseproduct.productId != null" >
        and p.product_id = #{houseproduct.productId}
      </if>
      <if test="houseproduct.houseId != null" >
        and house_id = #{houseproduct.houseId}
      </if>
      <if test="houseproduct.productNum != null" >
        and product_num = #{houseproduct.productNum}
      </if>
      <if test="houseproduct.houseProductState != null" >
        and house_product_state = #{houseproduct.houseProductState}
      </if>
       <if test="productName != ''" >
        and product_name = #{productName}
      </if>
  </where>
  </select>
</mapper>