<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.crm.dao.SupplierMapper" >
  <resultMap id="BaseResultMap" type="com.sc.crm.bean.Supplier" >
    <id column="supplier_id" property="supplierId" jdbcType="INTEGER" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="supplier_address" property="supplierAddress" jdbcType="VARCHAR" />
    <result column="supplier_kind" property="supplierKind" jdbcType="VARCHAR" />
    <result column="supplier_phone" property="supplierPhone" jdbcType="VARCHAR" />
    <result column="supplier_card" property="supplierCard" jdbcType="VARCHAR" />
    <result column="card_kind" property="cardKind" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    supplier_id, supplier_name, supplier_address, supplier_kind, supplier_phone, supplier_card, 
    card_kind
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supplier
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supplier
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sc.crm.bean.Supplier" >
    insert into supplier (supplier_id, supplier_name, supplier_address, 
      supplier_kind, supplier_phone, supplier_card, 
      card_kind)
    values (#{supplierId,jdbcType=INTEGER}, #{supplierName,jdbcType=VARCHAR}, #{supplierAddress,jdbcType=VARCHAR}, 
      #{supplierKind,jdbcType=VARCHAR}, #{supplierPhone,jdbcType=VARCHAR}, #{supplierCard,jdbcType=VARCHAR}, 
      #{cardKind,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.crm.bean.Supplier" >
    insert into supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="supplierName != null" >
        supplier_name,
      </if>
      <if test="supplierAddress != null" >
        supplier_address,
      </if>
      <if test="supplierKind != null" >
        supplier_kind,
      </if>
      <if test="supplierPhone != null" >
        supplier_phone,
      </if>
      <if test="supplierCard != null" >
        supplier_card,
      </if>
      <if test="cardKind != null" >
        card_kind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="supplierId != null" >
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="supplierName != null" >
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddress != null" >
        #{supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="supplierKind != null" >
        #{supplierKind,jdbcType=VARCHAR},
      </if>
      <if test="supplierPhone != null" >
        #{supplierPhone,jdbcType=VARCHAR},
      </if>
      <if test="supplierCard != null" >
        #{supplierCard,jdbcType=VARCHAR},
      </if>
      <if test="cardKind != null" >
        #{cardKind,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.crm.bean.Supplier" >
    update supplier
    <set >
      <if test="supplierName != null" >
        supplier_name = #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="supplierAddress != null" >
        supplier_address = #{supplierAddress,jdbcType=VARCHAR},
      </if>
      <if test="supplierKind != null" >
        supplier_kind = #{supplierKind,jdbcType=VARCHAR},
      </if>
      <if test="supplierPhone != null" >
        supplier_phone = #{supplierPhone,jdbcType=VARCHAR},
      </if>
      <if test="supplierCard != null" >
        supplier_card = #{supplierCard,jdbcType=VARCHAR},
      </if>
      <if test="cardKind != null" >
        card_kind = #{cardKind,jdbcType=VARCHAR},
      </if>
    </set>
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.crm.bean.Supplier" >
    update supplier
    set supplier_name = #{supplierName,jdbcType=VARCHAR},
      supplier_address = #{supplierAddress,jdbcType=VARCHAR},
      supplier_kind = #{supplierKind,jdbcType=VARCHAR},
      supplier_phone = #{supplierPhone,jdbcType=VARCHAR},
      supplier_card = #{supplierCard,jdbcType=VARCHAR},
      card_kind = #{cardKind,jdbcType=VARCHAR}
    where supplier_id = #{supplierId,jdbcType=INTEGER}
  </update>
  
  <select id="selSupplier" resultMap="BaseResultMap">
  SELECT * FROM supplier
  <where>
  <if test="supplierName != null and supplierName != ''">
  supplier_name like concat("%",#{supplierName},"%")
  </if>
  </where>
  </select>
  
  
</mapper>